@font-face {
	font-family: 'CutiveMono';
	src: url('chrome-extension://__MSG_@@extension_id__/src/fonts/CutiveMono-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

html, body {
	background-color: #282a36 !important;
	color: #f8f8f2 !important;
}

html, body, pre {
	font-family: "CutiveMono", serif;
}

*::selection {
	background-color: #311b92;
}

a {
	color: #8be9fd;
}

a:visited {
	color: #bd93f9;
}

font[color="#ff0000"] {
	color: #ffb74d;
}

img:first-of-type {
	filter: invert(1) hue-rotate(35deg);
	mix-blend-mode: screen
}