@font-face {
	font-family: 'RobotoMono';
	src: url('chrome-extension://__MSG_@@extension_id__/src/fonts/RobotoMono-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

html, body {
	background-color: #393939 !important;
	color: #ffffff !important;
}

html, body, pre {
	font-family: "RobotoMono", serif;
}

*::selection {
	background-color: #01579b;
}

a {
	color: #81d4fa;
}

a:visited {
	color: #b39ddb;
}

font[color="#ff0000"] {
	color: #ef9a9a;
}

img:first-of-type {
	filter: invert(1);
	mix-blend-mode: screen
}