@font-face {
  font-family: 'NovaMono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/NovaMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CutiveMono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/CutiveMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/RobotoMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/UbuntuMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
