@font-face {
  font-family: 'CutiveMono';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/CutiveMono-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: #363636;
  color: #f9f9f9;
  font-family: 'CutiveMono', monospace;
  font-size: 16px;
  margin: 0;
}

body {
  padding: 0.75rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.ct-header {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

.ct-header__logo {
  height: 32px;
  mix-blend-mode: screen;
  width: 32px;
}

.ct-header__heading {
  font-size: 1.25rem;
}

.ct-options {
  background-color: #2a2a2a;
  border: 2px solid #484848;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ct-options__legend {
  font-weight: 600;
  font-size: 1.125rem;
}

.ct-options__label {
  align-items: center;
  display: flex;
  font-weight: 600;
  gap: 0.5rem;
  position: relative;
}

.ct-options__label::before {
  background-color: #f9f9f9;
  border-radius: 9999px;
  content: '';
  display: block;
  height: 1rem;
  width: 1rem;
}

.ct-options__label::after {
  background-color: #01579b;
  border-radius: 9999px;
  content: '';
  display: block;
  height: 0.75rem;
  left: 0.125rem;
  opacity: 0;
  position: absolute;
  width: 0.75rem;
}

.ct-options__radio {
  margin: 0;
}

.ct-options__radio:checked + .ct-options__label::after {
  opacity: 1;
}
